.container-central {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 100vh;
  padding-right: 120px;
}

.card {
  padding: 20px;
  border-radius: 10px;
  width: 350px;
  box-shadow: 0 8px 15px rgba(0,0,0,0.2);
  background: white;
}

.background {
  background: #ffffff;
  min-height: 100vh;
}

.card-title h1 {
  text-align: center;
  font-weight: bolder;
  font-size: 24px; 
  font-family: "Inter", sans-serif;
  margin-top: 12px;
}

.card-title h3 {
  text-align: center;
  font-weight: normal;
  font-size: 14px;
  color: #6b6b6b;
  margin-top: 16px;
}

.form-container {
  display: flex;
  padding: 3px;
  flex-direction: column;
  gap: 12px;
  margin-top: 20px;
}

input {
  border: 1px solid #ccc;   /* cinza */
  border-radius: 8px;       /* arredondado */
  padding: 8px;
  width: 100%;
}

.form-container-UF {
  display: flex;
  padding: 3px;
  flex-direction: row;
  gap: 10px;
  margin-top: 10px;
}

.campo {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.button-criar {
    margin-top: 20px;
    background-color: #5d5fe8;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.ja-possui-conta {
    display: flex;
    justify-content: center;
    font-size: small;
    color: #b2a6a6;
    margin-top: 20px;
}

.button-entrar {
    display: block;
    text-align: center;
    border: none;
    background: none;
    font-size: medium;
    text-decoration: none;
    color: #5d5fe8;
    margin-top: 2px;
}